<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="3">
	<Appenders>
		<!-- 控制台输出 -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{yyyy/MM/dd HH:mm:ss SSS} %-5p] [%t] [%c.%M(%F:%L)] %m%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}" />
		</Console>
		<!-- 本地日志文件输出 -->
		<RollingFile name="RollingFile" fileName="${pom.log.dir}/${pom.application.name}.log"
					 filePattern="${pom.log.dir}/$${date:yyyy-MM}/${pom.application.name}-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy/MM/dd HH:mm:ss SSS} %-5p] [%t] [%c.%M(%F:%L)] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!-- size根据实际的日志量填写 -->
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<!-- 第三方日志系统 -->
		<logger name="org.springframework" level="warn">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</logger>
		<logger name="org.apache" level="warn">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</logger>

		<!-- 根日志记录级别 -->
		<Root level="${pom.log.level}">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>